<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="nopCommerce with playwright">

    <listeners>
        <listener class-name="Base.Listeners"/>
    </listeners>
    <test name="RegistrationTest">
        <classes>
            <class name="TestPages.RegisterPageTest">
            </class>
        </classes>
    </test>
    <test name="LoginTest">
        <classes>
            <class name="TestPages.LoginPageTest">
            </class>
        </classes>
    </test>
    <test name="PurchaseTest">
        <classes>
            <class name="TestPages.PurchaceTest">
            </class>
        </classes>
    </test>
</suite>